body {
  font-family: "Source Sans Pro";
  text-align: justify;
  font-size: 1.1rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

@media (max-width:992px) {

  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}

.white-section {
  background-color: #fff;
  color: #000;
}

.green-section {
  background-color: #44878B;
  color: #fff;
}

.container-fluid {
  padding: 7% 10%;
}

.header {
  padding: 1%;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

.logo {
  height: 150px;
}

@media (max-width:992px) {
  .logo {
    height: 100px;
  }
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
}

.carousel {
  text-align: center;
}

.carousel-image {
  height: 300px;
}

.contact-button {
  margin-bottom: 5%;
  color: #fff;
  background-color: #44878B;
  border-color: #44878B;
}

@media (max-width:992px) {
  .contact-button-container {
    text-align: center;
  }

  .contact-details {
    text-align: center;
  }
}

.contact-button:hover {
  color: #fff;
  background-color: #336669;
  border-color: #336669;
}

.testimonial {
  font-style: italic;
  font-size: 0.8rem;
}

.toby {
  height: 250px;
  margin: 20px;
}

.toby-title {
  text-align: center;
  margin-bottom: 20px;
}

.buildings {
  height: 250px;
  padding: 5%;
}

.card-title {
  color: #336669;
  font-weight: bold;
}

.card-body {
  text-align: center;
}

.card-text {
  text-align: justify;
}

.contact-info {
  font-size: 1.2rem;
}

.contact-section {
  padding: 3%;
}

.email-button {
  margin: 5% 0;
}

.email-link {
  color: #fff;
  text-decoration: none;
}

.email-link:hover {
  color: #fff;
  text-decoration: none;
}

.email-link:visited {
  color: #fff;
  text-decoration: none;
}

.email-button:hover {
  color: #fff;
  background-color: #336669;
  border-color: #336669;
}

.footer {
  background-color: #336669;
  color: #fff;
  text-align: center;
  height: 150px;
  font-size: 1.2rem;
}

.footer-text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
  .footer-text {
    font-size: 0.8rem;
  }
}


/* .colour4 {
  background-color:#f1f1e6;
} */

/*#336669
